<div class="list-group-item" id="<%= dom_id(personal_access_token) %>">
  <div class="row">
    <div class="col-8 d-flex align-content-center">
      <span class="my-2 fw-bold">
        <%= personal_access_token.name %>
      </span>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <%= link_to user_personal_access_token_path(personal_access_token),
                  'data-turbo-method' => :delete, class: 'btn btn-outline-danger' do %>
        <span>Remove</span>
        <%= bi_icon('x-circle') %>
      <% end %>
    </div>
  </div>
</div>
