<% @page_title = "Profile" %>

<div class="grid lg:grid-cols-2 gap-5">
  <div class="card">
    <h3>Add accounts</h3>

    <div class="flex flex-col gap-3" id="account-providers">
      <%= render partial: "shared/account_provider",
                  collection: (UserAccount.providers.keys - @user.accounts.map(&:provider)),
                  as: :account_provider %>
    </div>
  </div>
  <div class="card">
    <h3>Existing accounts</h3>

    <%= render partial: "shared/accounts", locals: { model: @user } %>
  </div>
</div>
