<div class="grid grid-cols-2">
  <div class="border-1 p-5">
    <span>Add accounts</span>

    <div class="flex flex-col gap-3" id="account-providers">
      <%= render partial: "shared/account_provider",
                  collection: (UserAccount.providers.keys - @user.accounts.map(&:provider)),
                  as: :account_provider %>
    </div>
  </div>
  <div class="border-1 p-5">
    <span>Existing accounts</span>

    <%= render partial: "shared/accounts", locals: { model: @user } %>
  </div>
</div>
