- unless user.twitter_account
  = auth_twitter_link('Authorize Twitter', 'user')

- unless user.google_oauth2_account
  = auth_google_link('Authorize Google', 'user')

%ul
- user.accounts.each do |account|
  %li #{account.provider} - #{link_to 'Remove Account', user_account_path(user, account), method: :delete}
