- unless @user.twitter_account
  = link_to 'Authorize Twitter', auth_twitter_path(model: 'user')

- unless @user.google_oauth2_account
  = link_to 'Authorize Google', auth_google_oauth2_path(model: 'user')

%ul
- @user.accounts.each do |account|
  %li #{account.provider} - #{link_to 'Remove Account', user_account_path(@user, account), method: :delete}
