.row.my-3
  .col-12
    %h6.mb-3 Existing accounts
    %hr.border-2.border-top
    .list-group#accounts
      = render partial: 'shared/account', collection: model.accounts, locals: { model: }
.row.mt-4
  .col-12
    %h6 Add account
    %hr.border-2.border-top
    .list-group#account-providers
      = render partial: 'shared/account_provider', collection: model.accounts.klass.providers.keys, locals: { model: }, as: :provider
