.row.mt-4
  .col-12
    .card
      .card-body
        .card-title
          %p.fs-4.fw-bold Accounts
        .list-group.list-group-flush#accounts
          = render partial: 'shared/account', collection: model.accounts, locals: { model: }
