<div class="flex items-center justify-between px-10 flex-grow-1" id="<%= account_provider %>">
  <span>
    <%= provider_human_name(account_provider) %>
  </span>

  <%= auth_provider_link(account_provider, { class: "button" }) do %>
    Connect
  <% end %>
</div>
