<h2>Woohoo, you're in!</h2>
<p class="text-muted">The next step is to authorize a organization account.</p>
<hr class="my-5">
<div class="flex justify-center gap-3">
  <div>
    <%= auth_provider_link("twitter", { class: "button" }) do %>
      Authorize Twitter
    <% end %>
  </div>
  <div>
    <%= auth_provider_link("linkedin", { class: "button" }) do %>
      Authorize LinkedIn
    <% end %>
  </div>
</div>
