.col-lg-4.mx-auto.my-5.text-center
  = bi_icon('emoji-wink-fill', 'fs-1')
  %h2 Woohoo, you're in!
  %p.text-muted The next step is to authorize a brand account.
  %hr
  = auth_provider_link('twitter', 'brand', { class: 'btn btn-primary rounded-pill px-5' }) do
    %span Authorize
  - if Rails.env.development?
    .row
      .col-12.mt-3
        = auth_provider_link('developer', 'brand', { class: 'btn btn-danger' }) do
          = bi_icon('code-slash')
          %span Developer Sign In
