%section.jumbotron
  %h1.display-4 Welcome to Dashboard!
  - if @brand
    %p.lead You're all set! Feel free to hop into the brand tickets!
    = link_to 'Brand Tickets', brand_tickets_path(current_brand), class: 'btn btn-primary btn-lg'
  - else
    %p.lead Woohoo, you're signed in. The next step is to authorize a brand account.
    = auth_provider_link('twitter', 'brand', { class: 'btn btn-primary btn-lg' }) do
      %span Authorize Brand

