= turbo_stream.append(:toasts, partial: 'shared/toast', locals: { title: 'Personal access token removed', message: 'User personal access token was successfully deleted.' })
= turbo_stream.remove(@token)
