<li class="border-b" id="<%= dom_id(internal_note, dom_id(internal_note.mention)) %>">
  <%= heroicon("square-2-stack", options: { class: "inline size-5" }) %>
  <span class="text-sm"><%= internal_note.creator.name %>:</span>
  <span class="text-sm"><%= internal_note.content %></span>
</li>
