<ul class="flex flex-col gap-5">
  <% mentions.each do |mention, replies| %>
    <li>
      <%= turbo_frame_tag dom_id(mention) do %>
        <%= render partial: "mentions/mention", locals: { mention:, reply_model: Mention.new(parent: mention) } %>
        <% if replies.any? %>
          <div class="pl-5 bg-gray-100 rounded-b-xl border-l border-stone-300">
            <%= render partial: "mentions/mentions", locals: { mentions: replies } %>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
