<ul class="flex flex-col gap-5">
  <% mentions.each do |mention, replies| %>
    <li>
      <%= turbo_frame_tag dom_id(mention) do %>
        <%= render partial: "mentions/mention", locals: { mention:, reply_model: Mention.new(parent: mention) } %>
        <% if replies.any? %>
          <%= render partial: "mentions/mentions", locals: { mentions: replies } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
