- toast_message = @success ? 'User account was successfully deleted.' : @account.errors.full_messages.join(',')
= turbo_stream.append(:toasts, partial: 'shared/toast',
  locals: { success: success, message: toast_message })

- if @success
  = turbo_stream.remove(@account)
