- toast_message = @success ? 'Brand was successfully updated.' : 'Brand could not be updated.'
= turbo_stream.append(:toasts, partial: 'shared/toast', locals: { success: @success, message: toast_message })
