<div class="flex items-center justify-between px-10 flex-grow-1" id="<%= dom_id(user) %>">
  <span><%= user.name %></span>
  <%= link_to organization_user_path(user), "data-turbo-method" => :delete, class: "button" do %>
    <span>Remove</span>
  <% end %>
</div>
