%li.list-group-item.list-group-item-primary{ id: dom_id(internal_note, dom_id(internal_note.ticket)) }
  %span.small= bi_icon('sticky')
  %span.small.me-1 #{internal_note.creator.name}:
  %span.small= internal_note.content
