<span class="badge rounded-pill bg-primary me-1" id="<%= dom_id(tag, dom_id(ticket)) %>">
  <%= tag.name %>
  <%= link_to brand_ticket_tag_path(ticket.brand, ticket, tag), 'data-turbo-method': :delete do %>
    <%= bi_icon('x', 'text-white') %>
  <% end %>
</span>
