%ul.list-group
  - tickets.each do |ticket, replies|
    %li.list-group-item.bg-transparent.border-0
      = turbo_frame_tag dom_id(ticket) do
        = render partial: 'ticket', locals: { brand:, ticket: }

        - if replies.any?
          = render partial: 'tickets', locals: { brand:, tickets: replies }
