<ul class="list-group">
  <% tickets.each do |ticket, replies| %>
    <li class="list-group-item bg-transparent border-0">
      <%= turbo_frame_tag dom_id(ticket) do %>
        <%= render partial: 'brands/tickets/ticket', locals: { brand:, ticket: } %>
        <% if replies.any? %>
          <%= render partial: 'brands/tickets/tickets', locals: { brand:, tickets: replies } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>