%ul.list-group
  - tickets.each do |ticket, replies|
    %li.list-group-item
      = render partial: 'ticket', locals: { brand: brand, ticket: ticket }

      - if replies.any?
        = render partial: 'tickets', locals: { brand: brand, tickets: replies }
