- if user_authorized_for?(current_user, @brand)
  = button_to 'Refresh Tickets', refresh_brand_tickets_path(@brand)

%span Tweets

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{ 'data-toggle': 'tab', href: '#open-tickets' } Open
  %li.nav-item
    %a.nav-link{ 'data-toggle': 'tab', href: '#solved-tickets' } Solved

.tab-content
  .tab-pane#open-tickets{ role: 'tabpanel' }
    = render partial: 'brands/tickets/tickets', locals: { brand: @brand, tickets: @open_tickets }
  .tab-pane#solved-tickets{ role: 'tabpanel' }
    = render partial: 'brands/tickets/tickets', locals: { brand: @brand, tickets: @solved_tickets }
