- if authorized?
  = button_to 'Refresh Tickets', refresh_brand_tickets_path(@brand)

%span Tweets

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{ 'data-toggle': 'tab', href: '#open-tickets' } Open
  %li.nav-item
    %a.nav-link{ 'data-toggle': 'tab', href: '#solved-tickets' } Solved

.tab-content
  #open-tickets.tab-pane{ role: 'tabpanel' }
    = render partial: 'brands/tickets/tickets', locals: { tickets: @open_tickets }
  #solved-tickets.tab-pane{ role: 'tabpanel' }
    = render partial: 'brands/tickets/tickets', locals: { tickets: @solved_tickets }
