<div class="row my-3 align-items-center">
  <div class="col-9">
    <span class="fs-2 me-2">
      <%= title %>
    </span>
  </div>
  <div class="col">
    <%= link_to products_path do %>
      <button type="button" class="btn btn-outline-primary float-end">Back</button>
    <% end %>
  </div>
</div>