<div class="row my-3 align-items-center">
  <div class="col-9">
    <span class="fs-2 me-2">Products</span>
  </div>
  <div class="col">
    <%= link_to new_product_path do %>
      <button type="button" class="btn btn-outline-primary float-end">New</button>
    <% end %>
  </div>
</div>
<div class="row my-3" id="products">
  <% @products.each do |product| %>
    <%= render "product", product: %>
  <% end %>
</div>
