name: CI

on: push

jobs:
  rspec:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v1
        name: Cache bundler dependencies
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Install node dependencies
        run: bin/yarn install --production true --cache-folder vendor/yarn
      - name: Install bundler dependencies
        run: bundle install --without development production --jobs 4 --retry 3 --path vendor/bundle
      - name: Run rspec
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        run: bundle exec rspec --tag ~type:system
  rspec-system:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v1
        name: Cache bundler dependencies
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Install node dependencies
        run: bin/yarn install --production true --cache-folder vendor/yarn
      - name: Install bundler dependencies
        run: bundle install --without development production --jobs 4 --retry 3 --path vendor/bundle
      - name: Run rspec system specs
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        run: bundle exec rspec --tag type:system
  license_finder:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v1
        name: Cache bundler dependencies
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Install node dependencies
        run: bin/yarn install --cache-folder vendor/yarn
      - name: Install bundler dependencies
        run: bundle install --jobs 4 --retry 3 --path vendor/bundle
      - name: Run license_finder
        run: bundle exec license_finder --decisions_file dependency_decisions.yml
  rubocop:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache bundler dependencies
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Install bundler dependencies
        run: bundle install --without development production --jobs 4 --retry 3 --path vendor/bundle
      - name: Run rubocop
        run: bundle exec rubocop
  haml-lint:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache bundler dependencies
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Install bundler dependencies
        run: bundle install --without development production --jobs 4 --retry 3 --path vendor/bundle
      - name: Run haml-lint
        run: bundle exec haml-lint
  stylelint:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install node dependencies
        run: bin/yarn install --cache-folder vendor/yarn
      - name: Run stylelint
        run: bin/yarn exec stylelint '**/*.scss'
  standard:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install node dependencies
        run: bin/yarn install --cache-folder vendor/yarn
      - name: Run standard
        run: bin/yarn exec standard
  markdownlint:
    runs-on: ubuntu-latest
    container: respondo/respondo-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        name: Cache yarn dependencies
        with:
          path: vendor/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install node dependencies
        run: bin/yarn install --cache-folder vendor/yarn
      - name: Run markdownlint
        run: bin/yarn exec markdownlint "docs/*.md"
  vale:
    runs-on: ubuntu-latest
    container: jdkato/vale:v2.1.1
    steps:
      - uses: actions/checkout@v2
      - name: Run vale
        run: vale "docs/*.md"
